*,*::before,*::after {
    box-sizing: border-box;
  }
  ul,ol {
    padding: 0;
  }
  body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
    margin: 0;
  }
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  ul, ol {
    list-style: none;
  }
  a{
    text-decoration: none;
    text-decoration-skip-ink: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
  }
  img {
    max-width: 100%;
    display: block;
  }
  article > * + * {
    margin-top: 1em;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  
  .block-left {
      float: left;
  }
  .block-right {
      float: right;
     /* padding: 20px 86px 20px 30px;*/
  }
  .block-right button{
    width: 153px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.493);
    color: #36aeea;
    border: 2px solid #36aeea;
    border-radius: 5px;
    margin: 16px 0px 10px 0px;
    cursor: pointer;
  }
  .block-right button:hover{
    background-color:  rgba(54, 174, 234, 0.514);
    text-decoration: none;
  }
  .block-right button:active{
    border: 0px;
    text-decoration: none;
  }
  .container {
      width: 100%;
      max-width: 1170px;
      padding: 0px 15px;
      margin: 0 auto;
      font-family: 'Myriad Pro', sans-serif;
  }
  .inside-container{
    overflow: auto;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
  }
  header{
    background-color: rgba(255, 255, 255, 0.493);
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  header nav ul {
      overflow: auto;
      padding: 4px 0px 0px 75px;
  }
  header nav ul li {
    float: left;
    /* color: #9daeb6; */
    margin: 0px 9px;
    height: 28px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  .header-logo {
      float: left;
  }
  .header-left--side {
    width: 100%;
    max-width: 60%;
    margin: 22px;
  }
  .top_section{
    width: 100%;
    height: 700px;
    background-color: rgba(184, 210, 225, 0.726);
    background-image: url(../pictures/background-image-copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 220px 0px 42px 0px;
  }
  .top_section h1{
    position: absolute;
    top: 40px;
    left: 35px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 45px;
    line-height: 25px;
  }
  .top_section_border{
    position: relative;
    bottom: -35px;
    max-width: 1170px;
    height: 320px;
    border: 2px solid white;
  }
  .top_section_border span{
    font-family: 'Bringin', sans-serif;
    color: #56c7ff;
    font-size: 42px;
  }
  .top_section_border p{
    position: absolute;
    top: 80px;
    left: 35px;
    font-size: 16px;
    font-family: 'Myriad Pro', sans-serif;
    color: white;
    width: 34%;
    padding: 35px 0px 16px 4px;
  }
  .top_section_border button{
    position: absolute;
    bottom: 40px;
    left: 35px;
    width: 250px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #56c7ff;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    cursor: pointer;
  }
  .top_section_border button:hover{
    background-color: rgb(255 255 255 / 59%);
    color: #36aeea;
    border: 2px solid #36aeea;
    font-weight: 900;
    font-size: 15px;
  }
  .about-us{
    height: 660px;
    background-color: #f6f4f4;
  }
  .about-us-container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 450px;
    display: flex;
    background-image: url(../pictures/Vector-Smart-Object2.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 98px 36px;
  }
  .about-us-left-side{
    position: relative;
    top: 200px;
    width: 29%;
    font-size: 14px;
    font-family: 'Myriad Pro', sans-serif;
    line-height: 23px;
    z-index: 3;
  }
  .about-us-left-side p{
    color: #9b9a9a;
    font-size: 14px;
  }
  .about-us-right-side-picture{
    display: flex;
    width: 70%;
    position: relative;
    right: 5px;
  }
  .about-us-left-side h2{
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px;
  }
  .about-us-left-side img{
    padding-bottom: 45px;
  }
  .about-us-left-side button{
    margin-top: 32px;
    width: 128px;
    height: 39px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 0px;
    background-color: #36aeea;
    font-family: 'Myriad Pro', sans-serif;
    cursor: pointer;
    font-size: 15px;
  }
  .about-us-left-side button:hover{
    background-color: rgb(255 255 255 / 59%);
    color: #36aeea;
    border: 2px solid #36aeea;
    font-weight: 900;
    font-size: 15px;
  }
  .about-us-picture1{
    position: absolute;
    top: 277px;
    /* left: 50px; */
    /* width: 350px; */
    /* height: 350px; */
    z-index: 2;
  }
  .about-us-picture2{
    position: absolute;
    top: -35px;
    padding-right: 10px;
    /* left: 140px; */
    /* width: 750px; */
    z-index: 1;
  }
  /*
  .about-us-background-picture{
    max-width: 803px;
    position: absolute;
    left: 366px;
    top: 10px;
    z-index: 0
  }*/
  .our-journal{
    margin: 0 auto;
    width: 100%;
    max-width: 1048px;
    height: 925px;
    font-family: 'Myriad Pro', sans-serif;
  }
  .our-journal-wave{
      margin: 69px auto 0px auto;
  }
  .our-journal h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 77px;
  }
  .our-journal-pictures{
    float: left;
  }
  .our-journal-text{
    width: 349px;
    float: left;
    text-align: center;
    padding: 49px 40px 46px 39px;
  }
  .our-journal-title{
    color: #16b5ef;
  }
  .our-journal-text h3{
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px 10px 15px 10px;
  }
  .our-journal-text p{
    /*padding-bottom: 30px;*/
    font-size: 14px;
  }
  .our-journal--text1{
    position: relative;
    box-shadow: 0px -3px 13px #dedede; 
    height: 350px;
    background: #ffffff;
  }
  .our-journal--text1::before{
    content: '';
    position: absolute;
    bottom: 280px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    left: -4%;
    transform: rotate(-90deg);
  }
  .our-journal--text2{
    position: relative;
    box-shadow: -4px 4px 13px #dedede;
    height: 349px;
    background: #ffffff;
    /*height: 88vh;*/
  }
  .our-journal--text2::before{
    content: '';
    position: absolute;
    bottom: 280px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    left: 343px;
    transform: rotate(91deg);
  }
  .our-journal--text3{
    position: relative;
    box-shadow: 5px 5px 13px #dedede;
    height: 349px;
    background: #ffffff;
    /*height: 88vh;*/
  }
  .our-journal--text3::before{
    content: '';
    position: absolute;
    bottom: 347px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    left: 18%;
    transform: translateX(-50%);
  }
  .our-journal-numeration1{
    font-size: 14px;
    padding-top: 35px;
  }
  .our-journal-numeration2{
    font-size: 14px;
    padding-top: 70px;
  }
  .our-journal-numeration3{
    font-size: 14px;
    padding-top: 75px;
  }
  .do-you-wanna-go-container{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Myriad Pro', sans-serif;
    padding-top: 81px;
  }
  .do-you-wanna-go{
    height: 650px;
    background-color: #f6f4f4;
    background-image: url(../pictures/background-mountains.png);
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .do-you-wanna-go-left-side{
    max-width: 1170px;
    width: 65%;
  }
  .do-you-wanna-go-order-line{
    background-color: white;
    position: relative;
    height: 60px;
    width: 770px;
  }
  .do-you-wanna-go-order-line span{
    border-left: 1px solid grey;
    height: 0px;
    position: relative;
    left: -15px;
  }
  .do-you-wanna-go-order-line button{
    width: 170px;
    height: 58px;
    border: none;
    border-radius: 4px;
    background-color: #56c7ff;
    font-size: 14px;
    padding-top: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
  }
  .do-you-wanna-go-order-line button:hover{
    background-color: rgb(255 255 255 / 59%);
    color: #36aeea;
    border: 2px solid #36aeea;
    font-weight: 900;
    font-size: 15px;
  }
  .fa-lock{
    position: relative;
    left: -15px;
    color: #36aeea;
  }
  .do-you-wanna-go-protection{
    position: relative;
    bottom: 28px;
    left: 30px;
    color: #36aeea;
  }
  .do-you-wanna-go-input1{
    width: 300px;
    height: 60px;
    border: #fff;
    padding-left: 18px;
  }
  .do-you-wanna-go-input2{
    width: 290px;
    height: 60px;
    border: #fff;
    padding-left: 18px;
  }
  .do-you-wanna-go-info1{
    color: #9b9a9a;
  }
  .do-you-wanna-go-info2{
    color: #9b9a9a;
    padding-bottom: 30px;
  }
  .do-you-wanna-go-container h2{
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 20px;
  }
  .do-you-wanna-go-right-side{
    width: 35%;
  }
  .do-you-wanna-go-right-side-pic1{
    bottom: 132px;
    position: relative;
    left: 715px;
  }
  .do-you-wanna-go-right-side-pic2{
    position: relative;
    left: 882px;
    bottom: 741px;
    width: auto;
  }
  .how-we-work{
    height: 650px;
  }
  .how-we-work-container{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Myriad Pro', sans-serif;
  }
  .how-we-work-container h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
  }
  .how-we-work-stages{
    display: flex;
    text-align: center;
  }
  .how-we-work-parts{
    width: 25%;
    padding: 105px 35px 0px 35px;
    position: relative;
  }
  .how-we-work-parts h4{
    padding-top: 30px;
  }
  .how-we-work-parts img{
    display: initial;
  }
  .how-we-work-span-container{
    border-radius: 50%;
    border: 3px solid #36aeea;
    width: 45px;
    height: 45px;
    margin: 0 auto 60px auto;
    color: #36aeea;
    font-weight: 900;
    line-height: 36px;
  }
  .how-we-work-pictures{
    position: relative;
  }
  .how-we-work-pict2{
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 25px;
  }
  .how-we-work-pict3{
    position: absolute;
    z-index: 3;
    right: 93px;
    top: 65px;
  }
  .vertical-line{
    position: absolute;
    top: 157px;
    left: 146px;
    height: 86px;
    background-image: linear-gradient(180deg, #f0f3f6, #f0f3f6 75%, transparent 75%, transparent 100%);
    background-size: 1px 32px;
    border: none;
    width: 2.5px;
  }
  .horizontal-line{
    position: absolute;
    margin: 30px 250px 0px 250px;
    left: -76px;
    bottom: 395px;
    width: 236px;
    height: 2.5px;
    background-image: linear-gradient(90deg, #f0f3f6, #f0f3f6 75%, transparent 75%, transparent 100%);
    background-size: 50px 1px;
    border: none;
  }
  .travel-with-us{
    height: 1060px;
    width: 100%;
    background-image: url(../pictures/travel-with-us-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .travel-with-us-container{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Myriad Pro', sans-serif;
    position: relative;
  }
  .travel-with-us-container h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
  }
  .travel-with-us-bg-image{
    position: relative;
    bottom: 50px;
    right: 17px;
  }
  .travel-with-us-offers{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 138px;
    font-family: 'Myriad Pro', sans-serif;
  }
  .travel-with-us-off{
    height: 380px;
    width: 20%;
    margin: 0px 18px 0px 18px;
    border-radius: 2%;
  }
  .offer1{
    background-image: url(../pictures/mount1.png);
    position: relative;
    background-position: -18px -21px;
  }
  .offer2{
    background-image: url(../pictures/mount2.png);
    position: relative;
    background-position: -160px -30px;
  }
  .offer3{
    background-image: url(../pictures/mount3.png);
    position: relative;
    background-position: -31px -51px;
  }
  .offer4{
    background-image: url(../pictures/mount4.png);
    position: relative;
    background-position: -52px -52px;
  }
  .offer5{
    background-image: url(../pictures/mount5.png);
    position: relative;
    background-position: -140px 0px;
  }
  .travel-with-us-off-blurry-block{
    position: absolute;
    top: 321px;
    border-radius: 2%;
  }
  .mountain-name{
    color: white;
    text-align: left;
    font-size: 28px;
    padding-left: 20px;
    position: absolute;
    top: 160px;
  }
  .mounting-description{
    color: white;
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
    position: absolute;
    top: 205px;
  }
  .old-price{
    color: white;
    text-align: left;
    font-size: 18px;
    position: absolute;
    padding-left: 20px;
    bottom: 15px;
    text-decoration: line-through;
  }
  .new-price{
    color: white;
    text-align: center;
    font-size: 26px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-weight: bold;
  }
  .gallery{
    height: 815px;
    width: 100%;
  }
  .gallery-container{
    max-width: 1170px;
    margin: 0 auto;
  }
  .gallery-container h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
    font-family: 'Myriad Pro', sans-serif;
  }
  .gallery-photos{
    display: flex;
    height: 650px;
    padding-top: 70px;
    position: relative;
  }
  .gallery-block1{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }
  .gallery-block2{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: -2px;
    right: 53px;
  }
  .photo1{
    width: 260px;
    height: 307px;
    padding-right: 15px;
  }
  .photo2{
    width: 360px;
    height: 222px;
    padding: 0px 15px 0px 15px; 
  }
  .photo3{
    width: 445px;
    height: 310px;
    padding-left: 15px; 
  }
  .photo4{
    width: 260px;
    padding-right: 15px; 
  }
  .photo5{
    width: 360px;
    padding: 0px 15px 0px 15px; 
  }
  .photo6{
    width: 445px;
    height: 242px;
    padding-left: 15px;
  }
  .gallery-brands{
    width: 100%;
    height: 180px;
    background-color: #b6b6b6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brands{
    width: 16%;
  }
  .slider-brands{
    margin: 0 auto;
  }
  .our-clients-say{
    height: 1277px;
    background-image: url(../pictures/clients-background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .our-clients-say-container{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Myriad Pro', sans-serif;
  }
  .our-clients-say-container h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
  }
  .customer{
    width: 50%;
  }
  .customers-comments{
    display: flex;
    padding: 90px 0px 0px 40px;
  }
  .comment{
    font-size: 18px;
    padding: 20px 90px 0px 0px;
    color: #bcbcbc;
  }
  .customer-picture{
    border-radius: 50%;
    margin-top: 33px;
  }
  .customer-name{
    position: relative;
  }
  .customer-name p{
    position: absolute;
    bottom: 22px;
    left: 83px;
    color: #36aeea;
    font-size: 16px;
  }
  .contacts{
    width: 512px;
    height: 495px;
    margin: 0 auto;
    background-color: #ffffff26;
    padding-left: 28px;
    margin-top: 140px;
    font-family: 'Myriad Pro', sans-serif;
    background-image: url(../pictures/bg-contact-fom.png);
    background-position: -50px -44px;
    border-radius: 5px;
  }
  .customer-contacts{
    height: 60px;
    width: 455px;
    border-radius: 5px;
    border-color: white;
    padding-left: 20px;
    margin-top: 20px;
    border: none;
    color: #cccccc;
  }
  .contacts h2{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
    color: #36aeea;
    font-weight: 100;
  }
  .contacts p{
    text-align: center;
    font-size: 16px;
  }
  .contact-form{
    margin: 20px 0px 50px 0px;
  }
  .contact-form button{
    height: 60px;
    width: 455px;
    border-radius: 5px;
    border-color: white;
    padding-left: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #36aeea;
    color: white;
    border: none;
    cursor: pointer;
  }
  .contact-form button:hover{
    background-color: rgb(255 255 255 / 59%);
    color: #36aeea;
    border: 2px solid #36aeea;
    font-weight: 900;
    font-size: 16px;
  }
  footer{
    height: 80px;
    background-image: url(../pictures/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-bottom{
    height: 80px;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #719eae;
    display: flex;
    font-family: 'Myriad Pro', sans-serif;
  }
  .footer-bottom a{
    color: #7cc0d4;
    font-size: 27px;
  }
  .footer-bottom a:hover{
    color: #36aeea;
  }
  .social-media{
    display: flex;
    align-items: baseline;
  }
  .media{
    width: 33%;
    padding: 0px 2.5px 0px 2.5px;
  }
  .media img:hover{
    box-shadow: 0px 3px 20px 4px #48698d;
  }









  header a{
    color: #bac6cb;
  }
  header nav ul li a:hover{
    padding-bottom: 6px;
    border-bottom: 2px solid #36aeea;
  }
  header nav ul li a:link{
    color: #bac6cb;
  }
  header nav ul li a:visited{
    color: #bac6cb;
  }
  header nav ul li a:focus{
    color: #bac6cb;
  }
 header nav ul li a:active{
    border-bottom: 2px solid #36aeea;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin: 8px 10px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
}
.mobile-toggle{
  display: none;
}
.mobile-toggle-checkbox{
  display: none;
}

  @media(min-width:999px){
    header nav{
      display: inline-block;
    }
    .fa-bars{
      display: none;
    }
    header input{
      display: none;
    }
    header label{
      display: none;
    }
    header .mobile-menu{
      display: none;
    }
  }
  @media(max-width: 998px){
    header nav{
      display: none;
    }
    #menu{
      display: none;
    }
    .mobile-menu{
      display: none;
    }
    .block-right button{
      display: none;
    }
    header input:checked ~ ul{
      display: block;
      text-transform: uppercase;
      padding-top: 15px;
      line-height: 20px;
    }
    .mobile-toggle-checkbox{
      display: none;
    }
  }
 /*@media(max-width: 768px){
    .block-right button{
      display: none;
    }
    .fa-bars{
      display: block;
    }
    .mobile-toggle input:checked + nav{
      display: block;
    }
  }*/
  .slick-prev {
    left: -105px;
  }
  .slider{
    width: 50%;
  }
  .slick-prev, .slick-next {
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #36aeea;
    border: none;
    outline: none;
    background: transparent;
  }
  .slick-slider {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
      width: 100%;
  }